import { BaseEntity, PageQuery } from '@/api/base';

export interface ${BusinessName}VO {
#foreach ($column in $columns)
#if($column.isList)
  /**
   * $column.columnComment
   */
  $column.javaField:#if($column.javaField.indexOf("id") != -1 || $column.javaField.indexOf("Id") != -1) string | number;
                    #else $getTsType($column.javaType);
                    #end
#end
#end
#if ($table.tree)
    /**
     * 子对象
     */
    children: ${BusinessName}VO[];
#end
}

export interface ${BusinessName}Form extends BaseEntity {
#foreach ($column in $columns)
#if($column.isInsert || $column.isEdit)
  /**
   * $column.columnComment
   */
  $column.javaField?:#if($column.javaField.indexOf("id") != -1 || $column.javaField.indexOf("Id") != -1) string | number;
                     #else $getTsType($column.javaType);
                     #end
#end
#end
}

export interface ${BusinessName}Query #if(!${treeCode})extends PageQuery #end{

#foreach ($column in $columns)
#if($column.isQuery)
  /**
   * $column.columnComment
   */
  $column.javaField?:#if($column.javaField.indexOf("id") != -1 || $column.javaField.indexOf("Id") != -1) string | number;
                      #else $getTsType($column.javaType);
                      #end
#end
#end
  /**
   * 日期范围参数
   */
  params?: any;
}
