import { BaseEntity } from 'src/common/entities/base'
import { Column, Entity, PrimaryGeneratedColumn } from 'typeorm'

@Entity('${tableName}', {
  comment: '${tableComment}',
})
export class ${BusinessName}Entity extends BaseEntity {#foreach($column in $columns)
        #set($javaType = $column.javaType)
        #set($javaField = $column.javaField)
        #set($isPk = $column.isPk)
        #set($columnType = $column.columnType)
        #set($columnComment = $column.columnComment)
        #if($javaField == 'createBy' || $javaField == 'updateBy' || $javaField == 'delFlag' || $javaField == 'status' || $javaField == 'createTime' || $javaField == 'updateTime')
        #elseif($isPk == '1')
  @PrimaryGeneratedColumn({ type: '${columnType}', name: '${javaField}', comment: '${columnComment}' })
  public ${javaField}:#if($column.javaField.indexOf("id") != -1 || $column.javaField.indexOf("Id") != -1) string | number
                        #else $getTsType($column.javaType)
                    #end
        #elseif(!$GenConstants.BASE_ENTITY.contains($javaField))
  @Column({ type: '${columnType}', name: '${javaField}', comment: '${columnComment}' })
  public ${javaField}:#if($column.javaField.indexOf("id") != -1 || $column.javaField.indexOf("Id") != -1) string | number
                        #else $getTsType($column.javaType)
                    #end
        #end
    #end}
